<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie-Recommender | Home</title>
    <link rel="stylesheet" href="../static/index.styles.css">
</head>
<body>
    <div class="block">
        <header>
            <h1>
                Movie Recommender
            </h1>
            <p>
                Recommends movies using machine learning!
            </p>
        </header>
        <div class="content">
            <form action="{{ url_for('get_movies') }}" method="post">
                <input type="text" name="movie" placeholder="Enter a movie name..."/>
                <p>
                    You can have similar movies based on <br> the content of the movie, or you can have similar <br> movies based on metadata (actors, directors, etc).
                </p>
                <select name="filter">
                    <option value="content">Content-based search</option>
                    <option value="metadata">Metadata-based search</option>
                </select>
                <button type="submit">Search!</button>
            </form>
        </div>
    </div>
</body>
</html>